*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    #left{
        width: 300px;
        min-height: 100vh;
        border-right: 2px solid #F5F5F5;
        padding:15px;
        display:flex;
        flex-direction: column;
        align-items: center;
        #logo-profile{
            width: 129px;
            padding:20px 0 35px 0;
        }
        #profile-info{
            width: 100%;
            background: #FAFAFC;
            border-radius: 15px;
            padding: 15px 16px;
            display: flex;
            overflow: hidden;
            #profile-img-section{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: black;
                #status{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3AC48E;
                    border: 1px solid white;
                    transform: translate(28px,30px);
                }
                
            }
            #user{
                padding-left: 16px;
                overflow: hidden;
                #user-name{
                    overflow: hidden;
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                }
                #email-id{
                    overflow: hidden;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    color: #BCBCBC;
                }
            }
        }

        ul{
            list-style: none;
            width: 100%;
            align-self: left;
            padding: 35px 10px 10px 10px;
            li{
                color: #C4C4C4;
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                transition: all 0.3s;
                a{
                    text-decoration: none;
                    color: #C4C4C4;
                    padding-left: 18px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 0.3s;
                }
            }
            li:hover,a:hover{
                color: black;
            }
        }
    }
    #right{
        width: 100%;
        // border: 1px solid red;
        padding: 35px 35px 0 35px;
        overflow: hidden;
        ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            li{
                input{
                    width: 60vw;
                    padding: 10px 100px;
                    font-size: 18px;
                    background: #FAFAFC;
                    border-radius: 10px;
                    border: none;
                }
            }
        }
        h1{
            padding: 44px;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
        }
        #about-sec{
            width: 80%;
            height: 543px;
            background: #F5F5F5;
            border-radius: 40px 40px 0 0;
            padding: 35px 39px;
            float: left;
            word-wrap: break-word;
            overflow-y: scroll;

            
            img{
                width: 100%;
                height: 40vh;
                margin-bottom: 18px;
            }
            #features-about{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                #features{
                    width: 67%;
                    background-color: white;
                    border-radius: 20px;
                    padding: 20px 32px;
                    img{
                        width: 50px;
                        height: 50px;
                        float: left;
                    }
                    #features-intro-me{
                        margin-top: 10px;
                        padding-left: 22px;
                        width: 85%;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        float: left;
                    }
                    ul{
                        clear: left;
                        display: block;
                        padding: 10px;
                        margin-bottom: 30px;
                        li{
                            display: flex;
                            align-items: center;
                            margin-bottom: 30px;
                            p{
                                padding-left: 30px;
                                margin-top: 5px;
                            }
                        }
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        color: #B2B7C6;
                        margin-top: 30px;
                    }
                }
                #about-me{
                    width: 30%;
                    background-color: white;
                    border-radius: 20px;
                    padding: 20px 17px;
                    h4{
                        padding-left: 10px;
                        padding-bottom: 20px;
                    }
                    p{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        color: #B2B7C6;
                        padding: 10px;
                    }
                    h5{
                        font-size: 15px;
                        padding-top: 20px;
                    }
                }
            }
            
        }
        #right-sidebar-home{
            width: 20%;
            float: left;
            padding-left: 20px;
            padding-bottom: 30px;
            div{
                width: 100%;
                padding: 21px;
                background-color: #FAFAFC;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                img{
                    cursor: pointer;
                }
            }
        }
        #about-sec::-webkit-scrollbar{
            width: 6px;
        }
        #about-sec::-webkit-scrollbar-track{
            background-color: white;
            width: 6px;
        }
        #about-sec::-webkit-scrollbar-thumb{
            background: linear-gradient(180deg, rgba(233, 220, 255, 0) 0%, #7F30FF 100%);
            border-radius: 10px;
            width: 6px;
        }
    }
}

/*welcome card*/

#welcome{
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    place-items: center;
    background: url("../images/welcomeBg.svg") repeat-y;
    background-size: cover;
}

#card
{
    width: 53%;
    height: 475px;
    border-radius: 41px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 12px 14px 20px rgba(255, 86, 126, 0.25), inset 1080px 533px 39px rgba(255, 212, 222, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;

}
#card img{
    width: 300px;
}

#card h1{
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #F51866;
}

#wlc-result{
    font-family: 'poppins',sans-serif;
    text-transform: capitalize;
}

#bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 50px;
}

#upload{
    min-width: 100px;
    height: 100px;
    background: #2F2E41;
    border-radius: 50%;
    color: white;
    text-align: center;
}
#upload p{
    height: 100%;
    transform: translateY(42%);
}
input[type='file']{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0; 
    cursor: pointer;
    opacity: 0%;
}

#wlc-msg{
    transform: translateY(60px);
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    color: #7E7E7E;
}

#next-btn{
    transform: translateY(60px);
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    padding: 8px 30px;
    color: black;
    background-color: transparent;
    border-radius: 82px;
    cursor: pointer;
    position: relative;
}

#next-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    border-top: 3px solid #FF005C;
    border-left: 3px solid #FF005C;
    top: 0;
    left: 0;
}

#next-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    border-bottom: 3px solid #FF005C;
    border-right: 3px solid #FF005C;
    bottom: 0;
    right: 0;
}

#next-btn:hover::before,
#next-btn:hover::after{
    width: 10%;
    height: 28%;
    transform: rotate(360deg);
}
@keyframes darpan_slide{
    0%{left: -300px;}
    100%{left: 0;}
}
@keyframes darpan_slide_exit{
    0%{left: 0;}
    100%{left: -300;}
}
@media screen and (max-width:1250px) and (min-width:1120px){
    #right-sidebar-home{
        display: none;
    }
    #about-sec{
        width: 100%!important;
    }
}

@media screen and (max-width:1119px){
    #right-sidebar-home{
        display: none;
    }
    #about-sec{
        width: 100%!important;
    }
    #right ul li input{
        width: 40vw !important;

    }
    #features{
        width: 100%!important;
        margin-bottom: 20px;
    }
    #about-me{
        width: 100%!important;
    }
}

@media screen and (max-width:751px) and (min-width:300px){
    #right{
        padding: 0px!important;
    }
    #close{
        display: block!important;
        transform: translateX(80px);
    }
    #about-sec{
        width: 100%!important;
        padding: 20px 20px!important;
    }
    #left{
        // display: none!important;
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 1000;
        background-color: white;
    }
    
    #right ul li input{
        width: 80%!important;
        padding: 10px 50px!important;
        float: right;

    }
    #menu-bar{
        width: 30px!important;
        height: 30px;
        display: flex!important;
        padding: 2px;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        div{
            width: 100%;
            height: 2px;
            background-color: black;
        }
    }
    #right ul li{
        img{
            display: none;
        }
        #nortification{display: none;
        }
    } 
}

@media screen and (max-width:850px) and (min-width:601px){
    #wlc-msg{
        display: none;
    }
}
@media screen and (max-width:600px){
    #card{
        width: 95%;
    }
    #wlc-msg{
        display: none;
    }
    #bottom{
        padding: 20px;
    }
}

/*welcome card*/

//dashboard