*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    width: 5px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background: transparent;
}

main{
    width: 100%;
    display: flex;
    #left{
        width: 300px;
        min-height: 100vh;
        border-right: 2px solid #F5F5F5;
        padding:15px;
        display:flex;
        flex-direction: column;
        align-items: center;
        #logo-profile{
            width: 129px;
            padding:20px 0 35px 0;
        }
        #profile-info{
            width: 100%;
            background: #FAFAFC;
            border-radius: 15px;
            padding: 15px 16px;
            display: flex;
            overflow: hidden;
            #profile-img-section{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: black;
                #status{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3AC48E;
                    border: 1px solid white;
                    transform: translate(28px,30px);
                }
                
            }
            #user{
                padding-left: 16px;
                overflow: hidden;
                #user-name{
                    overflow: hidden;
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                }
                #email-id{
                    overflow: hidden;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    color: #BCBCBC;
                }
            }
        }

        ul{
            list-style: none;
            width: 100%;
            align-self: left;
            padding: 35px 10px 10px 10px;
            li{
                color: #C4C4C4;
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                transition: all 0.3s;
                a{
                    text-decoration: none;
                    color: #C4C4C4;
                    padding-left: 18px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 0.3s;
                }
            }
            li:hover,a:hover{
                color: black;
            }
        }
    }
    #right{
        width: 100%;
        background-color: #E7E8F3;
        padding: 35px 35px 0 35px;
        overflow: hidden;
        ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            li{
                input{
                    width: 60vw;
                    padding: 10px 100px;
                    font-size: 18px;
                    background: white;
                    border-radius: 10px;
                    border: none;
                }
            }
        }
        h1{
            padding: 44px;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
        }
        #playlist{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            #player{
                width: 70%;
                video{
                    width: 100%;
                    source{
                        width: 100%;
                    }
                }
                #name{
                    width: 100%;
                    border-bottom: 1px solid #c2c2c2;
                    padding-bottom: 50px;
                    position: relative;
                    margin-bottom: 10px;
                    h1{
                        padding: 0;
                        margin: 0;
                        padding-top: 20px;
                        font-weight: 600;
                        font-size: 30px;
                    }
                    #like-dislike-share{
                        width: 200px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 10px;
                        img, h3{
                            cursor: pointer;
                        }
                    }
                }
                #custom-player{
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    #controls{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        bottom: 0%;
                        flex-wrap: wrap;
                        transform: translateY(85%) translateY(-4px);
                        transition: all 0.5s;
                        #buttons #left-btn button{
                            background: none;
                            border: 0;
                            outline: 0;
                            cursor: pointer;
                        }
                        #buttons #left-btn button:nth-child(1)::before{
                            content: '\e037';
                            align-self: flex-start;
                            font-family: 'Material Icons';
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            font-size: 28px;
                            padding: 13px;
                            color: white;

                        }
                        #buttons #left-btn button.play:before{
                            content: '\e037';
                        }
                        #buttons #left-btn button.pause:before{
                            content: '\e034';
                        }
                        #play-track{
                            height: 4px;
                            align-self: center;
                            top: 0%;
                            left: 0%;
                            width: 98%;
                            border-radius: 50px;
                            background: #c8c8c8a6;
                            position: relative;
                            #buffred-progress{
                                width: 0px;
                                height: 4px;
                                background-color: rgba(238, 238, 238, 0.705);
                                position: absolute;
                            }
                            #play-bar{
                                height: 4px;
                                width: 0;
                                border-radius: 50px;
                                background: red;
                                position: absolute;
                            }
                        }
                        #sec-left{
                            display: flex;
                            align-items: center;
                        }
                        #buttons #left-btn button:nth-child(2)::before{
                            content: '\e044';
                            font-family: 'Material Icons';
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            font-size: 28px;
                            padding: 13px 0px;
                            color: white;
                            align-self: flex-start;
                        }
                        #buttons #left-btn button:nth-child(3)::before{
                            content: '\e050';
                            font-family: 'Material Icons';
                            display: inline-block;
                            font-size: 20px;
                            padding: 13px;
                            color: white;
                        }
                        #buttons #left-btn button.mute:nth-child(3)::before{
                            content: '\e04f';
                        }
                        #left-btn{
                            display: flex;
                            justify-content: left;
                            align-items: center;
                        }
                        #time{
                            color: white;
                            font-size: 14px;
                        }
                        #left-btn{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            section{
                                align-self: end;
                            }
                        }
                        #buttons #left-btn{
                            p{
                                padding: 5px;
                            }
                        }
                        #buttons #left-btn section button:nth-child(1)::before{
                            content: url(../images/autoplay.svg);
                            font-family: 'Material Icons';
                            display: inline-block;
                            font-size: 20px;
                            padding: 13px;
                            color: white;
                        }
                        #buttons #left-btn section button:nth-child(2)::before{
                            content: '\e8b8';
                            font-family: 'Material Icons';
                            display: inline-block;
                            font-size: 20px;
                            padding: 13px;
                            color: white;
                        }
                        #settings-options{
                            width: 0px;
                            height: 0px;
                            overflow: hidden;
                            background: #363636;
                            padding: 0px;
                            position: absolute;
                            top: -145px;
                            right: 12%;
                            ul{
                                width: 100%;
                                display: flex;
                                list-style: none;
                                li{
                                    width: 100%;
                                    font-size: 12px;
                                    color: white;
                                    padding: 8px;
                                    display: flex;
                                    justify-content: space-between;
                                    img{
                                        cursor: pointer;
                                    }
                                }
                                li:nth-child(4){
                                    justify-content: right;
                                    padding-top: 10px;
                                    cursor: pointer;
                                }
                                input[type=range]{
                                    appearance: none;
                                    height: 1px;
                                    margin: 20px 5px 0px 5px;

                                    border-radius: 10px;
                                    background-color: rgb(255, 255, 255);
                                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
                                    transform: translateY(-8px);
                                    cursor: ew-resize;
                                }
                                input[type=range]::-webkit-slider-thumb{
                                    appearance: none;
                                    height: 16px;
                                    width: 16px;
                                    box-shadow: 0px 0px 5px black;
                                    background-color: white;
                                    border-radius: 50%;
                                    cursor: ew-resize;
                                }
                            }
                        }
                        #buttons #left-btn section button:nth-child(3)::before{
                            content: '\f090';
                            font-family: 'Material Icons';
                            display: inline-block;
                            padding: 13px;
                            color: white;
                        }
                        #buttons #left-btn section button:nth-child(4)::before{
                            content: '\e434';
                            font-family: 'Material Icons';
                            display: inline-block;
                            font-size: 20px;
                            padding: 13px;
                            color: white;
                        }
                        #buttons #left-btn section button:nth-child(5)::before{
                            content: url(../images/full-screen.svg);
                            display: inline-block;
                            padding: 13px;
                            color: white;
                        }
                        #volume-slider{
                            -webkit-appearance: none;
                            appearance: none;
                            width: 60px;
                            height: 5px;
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, 0.288);
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
                            transform: translateY(-8px);
                        }
                        #volume-slider::-webkit-slider-thumb{
                            appearance: none;
                            height: 15px;
                            width: 15px;
                            box-shadow: 0px 0px 5px black;
                            background-color: white;
                            border-radius: 50%;
                            cursor: ew-resize;
                        }
                    }
                }
                #custom-player:hover #controls{
                    transform: translateY(0px);
                }
            }

            #miniplayer-play{
                width: 296px;
                position: fixed;
                z-index: 1000;
                bottom: 2%;
                right: 2%;
                display: none;
                video{
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.432);
                }
                

                span{
                    transform: translate(260px,10px);
                    color: white;
                    cursor: pointer;
                    z-index: 10000;
                    position: absolute;
                }
            }

            #playlist-list{
                min-width: 300px;
                height: 543px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                #playlist-list-add{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    h1{
                        padding-right: 50px;
                    }
                    img{
                        cursor: pointer;
                    }
                }
                h4,h5{
                    display: flex;
                    align-items: center;
                    width: 90%;
                    padding: 20px;
                    p:nth-child(1){
                        width: 30%;
                    }
                }
                h5{
                    cursor: pointer;
                }
                h5:nth-child(4){
                    position: relative;
                    z-index: 2;
                    background-color: white;
                    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                }
                h1{
                    padding: 0;
                    margin: 0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                }
            }
            #playlist-list::-webkit-scrollbar{
                width: 5px;
            }
            #playlist-list::-webkit-scrollbar-track{
                width: 5px;
                background-color: transparent;
            }
            #playlist-list::-webkit-scrollbar-thumb{
                width: 5px;
                background: linear-gradient(#83A4D4 0%, #B6FBFF 100%);;
                border-radius: 10px;
            }
        }
    }
}


@keyframes darpan_slide{
    0%{left: -300px;}
    100%{left: 0;}
}
@keyframes darpan_slide_exit{
    0%{left: 0;}
    100%{left: -300;}
}

@media screen and (max-width:1119px){
    #right ul li input{
        width: 40vw !important;

    }
    
}
@media screen and (max-width:1320px){
    #player{
        width: 100%!important;
        #custom-player{
            width: 100%!important;
            video{
                width: 100%!important;
            }
        }
    }
    #playlist-list{
        width: 100%!important;
        h1{
            padding-right: 150px!important;
        }
    }
}

@media screen and (max-width:751px) and (min-width:300px){
    #close{
        display: block!important;
        transform: translateX(80px);
    }
    #left{
        // display: none!important;
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 1000;
        background-color: white;
    }
    
    #right ul li input{
        width: 80%!important;
        padding: 10px 50px!important;
        float: right;

    }
    #menu-bar{
        width: 30px!important;
        height: 30px;
        display: flex!important;
        padding: 2px;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        div{
            width: 100%;
            height: 2px;
            background-color: black;
        }
    }
    #right ul li{
        img{
            display: none;
        }
        #nortification{display: none;
        }
    } 
}

//dashboard