* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  width: 100%;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #left {
  width: 300px;
  min-height: 100vh;
  border-right: 2px solid #F5F5F5;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #left #logo-profile {
  width: 129px;
  padding: 20px 0 35px 0;
}

main #left #profile-info {
  width: 100%;
  background: #FAFAFC;
  border-radius: 15px;
  padding: 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

main #left #profile-info #profile-img-section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

main #left #profile-info #profile-img-section #status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3AC48E;
  border: 1px solid white;
  -webkit-transform: translate(28px, 30px);
          transform: translate(28px, 30px);
}

main #left #profile-info #user {
  padding-left: 16px;
  overflow: hidden;
}

main #left #profile-info #user #user-name {
  overflow: hidden;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

main #left #profile-info #user #email-id {
  overflow: hidden;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #BCBCBC;
}

main #left ul {
  list-style: none;
  width: 100%;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  padding: 35px 10px 10px 10px;
}

main #left ul li {
  color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #left ul li a {
  text-decoration: none;
  color: #C4C4C4;
  padding-left: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #left ul li:hover, main #left ul a:hover {
  color: black;
}

main #right {
  width: 100%;
  height: 100vh;
  padding: 35px 35px 0 35px;
}

main #right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #right ul li input {
  width: 60vw;
  padding: 10px 100px;
  font-size: 18px;
  background: #FAFAFC;
  border-radius: 10px;
  border: none;
}

main #right h1 {
  padding: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}

main #right #about-sec {
  width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #right #about-sec #about-sec-left {
  width: 70%;
  height: 535px;
  overflow-y: scroll;
}

main #right #about-sec #about-sec-left table {
  width: 100%;
  text-align: left;
}

main #right #about-sec #about-sec-left table #border-bottom th {
  border-bottom: 2px solid #DBD9E6;
}

main #right #about-sec #about-sec-left table tr {
  height: 40px;
}

main #right #about-sec #about-sec-left table th {
  color: #6E7087;
}

main #right #about-sec #about-sec-left table th, main #right #about-sec #about-sec-left table td {
  padding: 20px;
}

main #right #about-sec #about-sec-left::-webkit-scrollbar {
  width: 3px;
}

main #right #about-sec #about-sec-left::-webkit-scrollbar-track {
  width: 3px;
  background-color: transparent;
}

main #right #about-sec #about-sec-left::-webkit-scrollbar-thumb {
  width: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EC008C), to(#FC6767));
  background: linear-gradient(#EC008C 0%, #FC6767 100%);
}

main #right #about-sec #about-sec-right {
  width: 26%;
  min-height: 70vh;
  position: relative;
}

main #right #about-sec #about-sec-right h3 {
  color: #9D9D9D;
}

main #right #about-sec #about-sec-right form {
  width: 100%;
  padding: 39px 25px;
  margin-top: 34px;
  background: #F5F5F8;
  border-radius: 15px;
  text-align: center;
}

main #right #about-sec #about-sec-right form input[type=text] {
  margin-bottom: 24px;
  width: 100%;
  height: 33px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

main #right #about-sec #about-sec-right form input[type=image] {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  cursor: pointer;
}

main #right #about-sec #about-sec-right #restore {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main #right #about-sec #about-sec-right #restore img {
  padding-left: 10px;
}

@-webkit-keyframes darpan_slide {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes darpan_slide {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes darpan_slide_exit {
  0% {
    left: 0;
  }
  100% {
    left: -300;
  }
}

@keyframes darpan_slide_exit {
  0% {
    left: 0;
  }
  100% {
    left: -300;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1120px) {
  #right-sidebar-home {
    display: none;
  }
}

@media screen and (max-width: 1119px) {
  #right ul li input {
    width: 40vw !important;
  }
}

@media screen and (max-width: 970px) {
  #about-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about-sec-left {
    width: 100% !important;
  }
  #about-sec-right {
    width: 100% !important;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 751px) and (min-width: 300px) {
  #right {
    padding: 20px !important;
  }
  #close {
    display: block !important;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  #left {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 1000;
    background-color: white;
  }
  #right ul li input {
    width: 80% !important;
    padding: 10px 50px !important;
    float: right;
  }
  #menu-bar {
    width: 30px !important;
    height: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
  }
  #menu-bar div {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  #right ul li img {
    display: none;
  }
  #right ul li #nortification {
    display: none;
  }
}

#restore-table {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#restore-option {
  height: 0vh;
  width: 80%;
  position: absolute;
  background-color: white;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restore-option div {
  overflow-y: scroll;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restore-option div::-webkit-scrollbar {
  width: 3px;
}

#restore-option div::-webkit-scrollbar-track {
  width: 3px;
  background-color: transparent;
}

#restore-option div::-webkit-scrollbar-thumb {
  width: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EC008C), to(#FC6767));
  background: linear-gradient(#EC008C 0%, #FC6767 100%);
}
/*# sourceMappingURL=style_contacts.css.map */