*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    #left{
        width: 300px;
        min-height: 100vh;
        border-right: 2px solid #F5F5F5;
        padding:15px;
        display:flex;
        flex-direction: column;
        align-items: center;
        #logo-profile{
            width: 129px;
            padding:20px 0 35px 0;
        }
        #profile-info{
            width: 100%;
            background: #FAFAFC;
            border-radius: 15px;
            padding: 15px 16px;
            display: flex;
            overflow: hidden;
            #profile-img-section{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: black;
                #status{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3AC48E;
                    border: 1px solid white;
                    transform: translate(28px,30px);
                }
                
            }
            #user{
                padding-left: 16px;
                overflow: hidden;
                #user-name{
                    overflow: hidden;
                    font-size: 15px;
                    font-weight: normal;
                    font-style: normal;
                }
                #email-id{
                    overflow: hidden;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    color: #BCBCBC;
                }
            }
        }

        ul{
            list-style: none;
            width: 100%;
            align-self: left;
            padding: 35px 10px 10px 10px;
            li{
                color: #C4C4C4;
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                transition: all 0.3s;
                a{
                    text-decoration: none;
                    color: #C4C4C4;
                    padding-left: 18px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 0.3s;
                }
            }
            li:hover,a:hover{
                color: black;
            }
        }
    }
    #right{
        width: 100%;
        // border: 1px solid red;
        height: 100vh;
        padding: 35px 35px 0 35px;
        ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            li{
                input{
                    width: 60vw;
                    padding: 10px 100px;
                    font-size: 18px;
                    background: #FAFAFC;
                    border-radius: 10px;
                    border: none;
                }
            }
        }
        h1{
            padding: 44px;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
        }
        #about-sec{
            width: 100%;
            min-height: 70vh;
            display: flex;
            justify-content: space-between;
            #about-sec-left{
                width: 70%;
                height: 535px;
                overflow-y: scroll;
                table{
                    width: 100%;
                    text-align: left;
                    
                    #border-bottom th{
                        border-bottom: 2px solid #DBD9E6;
                    }
                    tr{
                        height: 40px;
                    }
                    th{
                        color: #6E7087;
                        
                        
                    }
                    th,td{
                        padding: 20px;
                    }
                }
            }
            #about-sec-left::-webkit-scrollbar{
                width: 3px;
            }
            #about-sec-left::-webkit-scrollbar-track{
                width: 3px;
                background-color: transparent;
            }
            #about-sec-left::-webkit-scrollbar-thumb{
                width: 3px;
                background: linear-gradient(#EC008C 0%, #FC6767 100%);
            }
            #about-sec-right{
                width: 26%;
                min-height: 70vh;
                position: relative;
                h3{
                    color: #9D9D9D;
                }
                form{
                    width: 100%;
                    padding: 39px 25px;
                    margin-top: 34px;
                    background: #F5F5F8;
                    border-radius: 15px;
                    text-align: center;
                    input[type=text]{
                        margin-bottom: 24px;
                        width: 100%;
                        height: 33px;
                        background: #FFFFFF;
                        border-radius: 10px;
                        border: none;
                        padding: 10px 20px;
                        transform: translateY(20px);

                    }
                    input[type=image]{
                        transform: translateY(70px);
                        cursor: pointer;
                    }
                }
                #restore{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    img{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}


@keyframes darpan_slide{
    0%{left: -300px;}
    100%{left: 0;}
}
@keyframes darpan_slide_exit{
    0%{left: 0;}
    100%{left: -300;}
}
@media screen and (max-width:1250px) and (min-width:1120px){
    #right-sidebar-home{
        display: none;
    }
}

@media screen and (max-width:1119px){
    #right ul li input{
        width: 40vw !important;

    }
}
@media screen and (max-width:970px){
    #about-sec{
        flex-direction: column-reverse;
    }
    #about-sec-left{
        width: 100%!important;
    }
    #about-sec-right{
        width: 100%!important;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:751px) and (min-width:300px){
    #right{
        padding: 20px!important;
    }
    #close{
        display: block!important;
        transform: translateX(80px);
    }
    #left{
        // display: none!important;
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 1000;
        background-color: white;
    }
    
    #right ul li input{
        width: 80%!important;
        padding: 10px 50px!important;
        float: right;

    }
    #menu-bar{
        width: 30px!important;
        height: 30px;
        display: flex!important;
        padding: 2px;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        div{
            width: 100%;
            height: 2px;
            background-color: black;
        }
    }
    #right ul li{
        img{
            display: none;
        }
        #nortification{display: none;
        }
    } 
}
#restore-table{
    width: 100%;
    text-align: center;
    padding: 10px;
}
//restore contacts
#restore-option{
    height: 0vh;
    width: 80%;
    position: absolute;
    background-color: white;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div::-webkit-scrollbar{
        width: 3px;
    }
    div::-webkit-scrollbar-track{
        width: 3px;
        background-color: transparent;
    }
    div::-webkit-scrollbar-thumb{
        width: 3px;
        background: linear-gradient(#EC008C 0%, #FC6767 100%);
    }

}